@model IEnumerable<nightowlsign.data.Logging>

@{
    ViewBag.Title = "Logging";
}

<h2>Data Sync Logs</h2>


<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
        <tr>

            <th class="centrealign">
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th class="centrealign">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="centrealign">
                @Html.DisplayNameFor(model => model.DateStamp)
            </th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="centrealign">
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateStamp)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
