@model nightowlsign.data.Models.SignSelect
                <tr>
                    <td style="text-align:center">
                        @Html.CheckBoxFor(model => model.selected)
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Model)
                        @Html.HiddenFor(model => model.StoreId)
                        @Html.HiddenFor(model => model.SignId)
                        @Html.DisplayFor(model => model.Model)
                    </td>
                    <td>
                        @Html.TextBoxFor(model=>model.IpAddress)
                    </td>
                </tr>