@if (User.IsInRole("Admin") || (User.IsInRole("SuperUser")))
{
                    <li>@Html.ActionLink("Home", "Index", "Stores")</li>
                    <li>@Html.ActionLink("Images", "Index", "Image")</li>
                    <li>@Html.ActionLink("Playlists", "Index", "Schedules", new { SignId="0" }, null)</li>
                    <li>@Html.ActionLink("Log", "Index", "Loggings", new {filter="Result"}, null)</li>
                    @*<li>@Html.ActionLink("Signs", "Index", "Signs")</li>*@
}
else
{
                   <li>@Html.ActionLink("Home", "Index", "Stores")</li>
}
