@using System.Web.UI.WebControls
@model nightowlsign.data.Models.Stores.StoreViewModel
@{
    ViewBag.Title = "Stores";
}
@using (Html.BeginForm())
{
    <!-- Start Hidden form -->
    @Html.HiddenFor(m => m.EventCommand)
    @Html.HiddenFor(m => m.EventArgument)
    @Html.HiddenFor(m => m.Mode)
    <!-- End Hidden form-->
    <!-- Start Search Area -->
    if (Model.IsSearchVisible)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title"></div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.SearchEntity.Name, "Store Name")
                    @Html.TextBoxFor(m => m.SearchEntity.Name, new { @class = "form-control" })
                </div>

            </div>
            <div class="panel-footer">
                <button id="btnSearch" class="btn btn-sm btn-primary" data-pdsa-action="search">
                    <i class="glyphicon glyphicon-search"></i>&nbsp;Search
                </button>
                <button id="btnReset" class="btn btn-sm btn-primary" data-pdsa-action="resetsearch">
                    <i class="glyphicon glyphicon-share-alt"></i>&nbsp; Reset
                </button>
                @if (User.IsInRole("SuperUser"))
                {
                    <button id="btnAdd" class="btn btn-sm btn-primary" data-pdsa-action="add">
                        <i class="glyphicon glyphicon-plus-sign"></i>&nbsp; Add
                    </button>
                }
            </div>

        </div>
    }
    <!-- End Search Area-->

     <!-- Start List Area  -->
    if (Model.IsListAreaVisible)
    {
        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th class="pdsa-action-button-column">Edit</th>
                        <th>Name</th>
                        <th class="centrealign">Size</th>
                        <th class="centrealign">Ratio</th>
                        <th class="centrealign">Schedules</th>
                        <th class="centrealign">Default Playlist</th>
                        <th class="centrealign">Current Playlist</th>
                        <th class="centrealign">Show Playlist</th>
                        @if (User.IsInRole("SuperUser"))
                        {
                            <th class="pdsa-action-button-column">Delete</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.StoresAndSigns)
                    {
                        <tr>
                            <td class="pdsa-action-button-column"><a href="#" data-pdsa-action="edit" data-pdsa-val="@item.id" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-edit"></i></a></td>
                            <td>@item.Name</td>
                            <td class="centrealign">@item.Sign.Model</td>
                            <td class="centrealign">@string.Format("{0:0.00}", ((double)@item.Sign.Width / @item.Sign.Height))</td>
                            <td class="centrealign"><a href="@Url.Action("Index", "Schedules", new { SignId = item.SignId ?? 0 })" data-toggle="tooltip" title="Playlists for this sign size" class="btn btn-sm btn-default" alt="PlayLists"><span class="glyphicon glyphicon-calendar"></span></a></td>
                            <td class="centrealign">@item.DefaultSchedule.Name</td>
                            <td class="centrealign">@item.CurrentSchedule.Name</td>
                            <td class="centrealign"><a href="@Url.Action("Index","ScheduleImage", new {signId=item.SignId ?? 0, scheduleId=item.CurrentSchedule.Id, scheduleName=item.CurrentSchedule.Name})"> <i class="glyphicon glyphicon-play"></i></a> </td>
                            @*<td class="centrealign">@string.Format("{0:dd MMM yyyy}", item?.CurrentSchedule?.StartDate)</td>
                                <td class="centrealign">@string.Format("{0:dd MMM yyyy}", item?.CurrentSchedule?.EndDate)</td>*@
                            @if (User.IsInRole("SuperUser"))
                            {
                                <td class="pdsa-action-button-column"><a href="#" data-pdsa-action="delete" data-pdsa-val="@item.id" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-trash"></i></a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <!-- End List Area-->
    <!--Detail Area-->

    if (Model.IsDetailVisible)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">
                    Store
                </h1>
            </div>
            <div class="panel-body">
                <!-- Begin Message Area -->
                <div class="row">
                    <div class="col-sm-12">
                        @if (!Model.IsValid)
                        {
                            <div class="alert alert-danger alert-dismissable" role="alert">
                                <button type="button" class="close" data-dissmiss="alert">
                                    <span aria-hidden="true">&times</span>

                                    <span class="sr-only">Close</span>
                                </button>
                                @Html.ValidationSummary(false)
                            </div>
                        }
                    </div>
                </div>
                <!-- End message Area-->
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        @Html.HiddenFor(m => m.Entity.id)
                        @Html.LabelFor(m => m.Entity.Name, "Store")
                        @Html.TextBoxFor(m => m.Entity.Name, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Entity.Address, "Address")
                        @Html.TextBoxFor(m => m.Entity.Address, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Entity.Suburb, "Suburb")
                        @Html.TextBoxFor(m => m.Entity.Suburb, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Entity.Manager, "Manager")
                        @Html.TextBoxFor(m => m.Entity.Manager, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Entity.Phone, "Phone")
                        @Html.TextBoxFor(m => m.Entity.Phone, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">  
                @if (User.IsInRole("SuperUser"))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Entity.SignId, "Sign Size")
                        @Html.DropDownListFor(m => m.Entity.SignId, new SelectList(Model.SignList, "SignId", "Model", Convert.ToInt32(Model.Entity.SignId)), new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Entity.IpAddress, "IP Address")
                        @Html.TextBoxFor(m => m.Entity.IpAddress, new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Entity.SubMask, "Sub Mask")
                        @Html.TextBoxFor(m => m.Entity.SubMask, new {@class = "form-control", PlaceHolder = "255.255.255.255"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Entity.Port, "Port No")
                        @Html.TextBoxFor(m => m.Entity.Port, new {@class = "form-control", PlaceHolder = "5200"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Entity.ProgramFile, "Program File")
                        @Html.TextBoxFor(m => m.Entity.ProgramFile, new { @class = "form-control", PlaceHolder = "0001000" })
                    </div>
                }
                else
                {

                    @Html.HiddenFor(m => m.Entity.SignId)
                    @Html.HiddenFor(m => m.Entity.IpAddress)
                    @Html.HiddenFor(m => m.Entity.SubMask)
                    @Html.HiddenFor(m => m.Entity.Port)
                }
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary" id="btnSave" data-pdsa-action="save">
                            <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save
                        </button>
                        <button class="btn btn-primary" formnovalidate id="btnCancel" data-pdsa-action="cancel">
                            <i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

    }

    <!-- End Detail Area-->

}

@section scripts
{


}