@model nightowlsign.data.Models.ImageSelect

@{

    string imageBase64 = Convert.ToBase64String(Model.ThumbNail);
    string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
}
<div class="col-sm-6 col-md-3">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-info">
                @Html.CheckBoxFor(m => m.Selected)
            </div>
            <div class="panel-image">
                <img class="img-responsive myThumbnail" src="@imageSrc" style="height: 80px;">

                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.ImageId)
                @Html.HiddenFor(m => m.ScheduleId)
                @Html.HiddenFor(m => m.SignId)
                @Html.HiddenFor(m => m.Name)
                @Html.DisplayFor(m => m.Name)
            </div>
        </div>
    </div>

</div>

    @*<tr>
            <td class="centrealign">
                @Html.CheckBoxFor(m => m.Selected)
            </td>
            <td>
                <img class="img-responsive myThumbnail" src="@imageSrc" style="height: auto;">
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.ImageId)
                @Html.HiddenFor(m => m.ScheduleId)
                @Html.HiddenFor(m => m.Name)
                @Html.DisplayFor(m => m.Name)
            </td>
        </tr>*@
