@model nightowlsign.data.Models.Image.ImageSelect

@{

    string imageBase64 = Convert.ToBase64String(Model.ThumbNail);
    string imageSrc = $"data:image/gif;base64,{imageBase64}";
}
<div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-info">
                <div>
                    @Html.CheckBoxFor(m => m.Selected)
                </div>
            </div>
            <figure class="cap-left">
                <div class="panel-image">
                    <img class="img-responsive myThumbnail" src="@imageSrc" style="width: 100%;">

                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.ImageId)
                    @Html.HiddenFor(m => m.ScheduleId)
                    @Html.HiddenFor(m => m.SignId)
                    @Html.HiddenFor(m => m.Name)
                    <figcaption>@Html.DisplayFor(m => m.Name)</figcaption>
                </div>
            </figure>
        </div>
    </div>
</div>